@import "../../styles/import";

.popover-placement (@name, @reverse, @size) {
  &[x-placement^=@{name}] {
    margin-@{reverse}: @size;
  }

  &[x-placement^=@{name}] &__arrow {
    border-@{name}-color: @popover-fill;
    border-@{reverse}-width: 0px;
    @{reverse}: -@size;
  }
}

.whc-popover {
  padding: @popover-padding;
  box-shadow: @popover-box-shadow;
  border-radius: @popover-border-radius;
  background: @popover-fill;

  &__header {
    margin-bottom: 8px;
    border-bottom: @popover-header-boder;
    line-height: 30px;
    text-align: center;
  }

  &__arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-width: @popover-arrow-size;
    border-style: solid;
    border-color: transparent;
  }

  &--narrow {
    padding: 0;
  }

  .popover-placement(bottom, top, @popover-arrow-size);
  .popover-placement(top, bottom, @popover-arrow-size);
  .popover-placement(left, right, @popover-arrow-size);
  .popover-placement(right, left, @popover-arrow-size);
}
