@import "../../styles/import";

.button-size (@size, @padding, @font-size) {
  &.whc-button--@{size} {
    padding: @padding;
    font-size: @font-size;
  }
}

.button-style (@type, @color, @fill) {
  &.whc-button--@{type} {
    color: @color;
    background: @fill;

    &:hover {
      background: lighten(@fill, 4%);
    }

    &:active {
      background: darken(@fill, 4%);
    }
  }
}

.whc-button {
  display: inline-block;
  -webkit-appearance: none;
  line-height: 1.2em;
  border: none;
  border-radius: @button-border-radius;
  text-align: center;
  cursor: pointer;
  user-select: none;
  outline: none;
  transition: background 0.3s;

  &:not(.full) + .whc-button:not(.full) {
    margin-left: 5px;
  }

  .whc-icon + span {
    margin-left: 0.5em;
  }

  .whc-input + & {
    margin-left: 5px;
  }

  &.full {
    width: 100%;
  }

  &.whc-button--text {
    &,
    &.disabled,
    &.loading {
      background: none;
      color: @button-text-color;

      &:hover {
        background: none;
        color: @button-text-color-hover;
      }
    }
  }

  .button-size(small, @button-small-padding, @button-small-font-size);
  .button-size(normal, @button-normal-padding, @button-normal-font-size);
  .button-size(large, @button-large-padding, @button-large-font-size);

  .button-style(default, @button-color, @button-fill);
  .button-style(primary, @button-primary-color, @button-primary-fill);
  .button-style(success, @button-success-color, @button-success-fill);
  .button-style(warning, @button-warning-color, @button-warning-fill);
  .button-style(danger, @button-danger-color, @button-danger-fill);

  &.disabled,
  &.loading {
    &,
    &:hover,
    &:focus {
      color: @button-disabled-color;
      background: @button-disabled-fill;
      cursor: auto;
    }
  }
}

.whc-button-group {
  display: inline-block;
  vertical-align: middle;

  &.full {
    display: flex;
    flex-direction: row;
    width: 100%;

    .whc-button {
      float: none;
      flex: 1;
    }
  }

  .whc-button {
    float: left;

    & + .whc-button {
      margin-left: 0 !important;
    }

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }
}
