.whc-form {
  &__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .whc-form-field {
    margin-bottom: 10px;
  }

  &--vertical {
    .whc-form-field__label {
      display: block;
      margin-bottom: 8px;
    }

    .whc-form-field__content {
      display: block;
    }
  }

  &--horizontal {
    .whc-form-field {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .whc-form-field__label {
      width: 80px;
      margin-right: 8px;
      text-align: right;
    }

    .whc-form-field__content {
      flex: 1;
    }
  }
}
