@import "../../styles/import";

.whc-layout {
  display: flex;

  &&--horizontal {
    flex-direction: row;
  }

  &&--vertical {
    flex-direction: column;

    .whc-layout__container {
      height: 100%;
      overflow: hidden;
    }
  }

  &&.centered {
    align-items: center;
  }

  &&.full {
    height: 100%;
    width: 100%;
  }

  &__container {
    position: relative;
    flex: 1;
  }
}

.middle-container-style (@screen-width, @width) {
  @media (min-width: @screen-width) {
    & {
      width: @width;
    }
  }
}

.whc-middle-container {
  margin: 0 auto;
  height: 100%;

  .middle-container-style(768px, 700px);
  .middle-container-style(992px, 900px);
  .middle-container-style(120px, 1100px);
}
