@import "../../styles/import";

.whc-card {
  background: @color-white-dark;
  border-radius: @border-radius;
  border-bottom: 2px solid #ddd;
  transition: background 0.2s;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &:hover {
    background: @color-white-base;
  }

  &__header {
    padding: 10px;
  }

  &__footer {
    padding: 0;
  }

  .whc-card-item {
    margin-top: 0;
    border-radius: 0;
    border-top: @border;
    border-bottom: @border;

    &:not(:last-child) {
      margin-bottom: -1px;
    }
  }
}

.whc-card-item {
  padding: 10px;
  background-color: @color-white-dark;
  border-radius: @border-radius;
  border-bottom: 2px solid #ddd;
  transition: background 0.2s;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &:hover {
    background: @color-white-base;
  }
}
