@import "./variables-base";

// Button
// ----------------------------
@button-border-radius: @border-radius;
@button-color: @color-white-base;
@button-fill: @color-gray-dark;

@button-small-padding: 8px 10px;
@button-small-font-size: @font-size-small;

@button-normal-padding: 8px 18px;
@button-normal-font-size: @font-size;

@button-large-padding: 10px 22px;
@button-large-font-size: @font-size-large;

@button-basic-color: @font-color-light;
@button-basic-box-shadow: 0 0 0 1px @color-gray-lighter inset;
@button-basic-box-shadow-hover: 0 0 0 1px @color-gray-light inset;
@button-basic-fill-active: @color-gray-lighter;

@button-plain-color: @font-color-light;
@button-plain-color-hover: @color-primary;

@button-primary-color: @color-white-base;
@button-primary-fill: @color-primary;

@button-success-color: @color-white-base;
@button-success-fill: @color-success;

@button-warning-color: @color-white-base;
@button-warning-fill: @color-warning;

@button-danger-color: @color-white-base;
@button-danger-fill: @color-danger;

// CheckBox
// ----------------------------

@checkbox-border-radius: @border-radius;
@checkbox-border: 2px @border-style @color-gray-dark;
@checkbox-border-hover: 2px @border-style @color-primary;
@checkbox-inner-border: 3px solid @color-white-base;
@checkbox-fill-active: @color-primary;

@checkbox-small-font-size: @font-size;
@checkbox-normal-font-size: @font-size-large;
@checkbox-large-font-size: @font-size-huge;

// Input
// ----------------------------
@input-border-radius: @border-radius;
@input-border: @border;
@input-border-color-hover: @border-color-dark;
@input-border-color-focus: @color-primary;
@input-fill: @color-white-base;
@input-disabled-fill: @color-gray-lighter;

@input-padding-v: 8px;
@input-padding-h: 10px;
@input-font-size: @font-size;

@input-small-padding-v: 7px;
@input-small-padding-h: 8px;
@input-small-font-size: @font-size-small;

@input-large-padding-v: 10px;
@input-large-padding-h: 12px;
@input-large-font-size: @font-size-large;

// Textarea
// ----------------------------
@textarea-border-radius: @border-radius;
@textarea-border: @border;
@textarea-border-color-hover: @border-color-dark;
@textarea-border-color-focus: @color-primary;
@textarea-fill: @color-white-base;
@textarea-disabled-fill: @color-gray-lighter;

@textarea-padding-v: 8px;
@textarea-padding-h: 10px;
@textarea-font-size: @font-size;

@textarea-small-padding-v: 7px;
@textarea-small-padding-h: 8px;
@textarea-small-font-size: @font-size-small;

@textarea-large-padding-v: 10px;
@textarea-large-padding-h: 12px;
@textarea-large-font-size: @font-size-large;

// Icon
// ----------------------------
@icon-color-hover: @color-primary;

// Loader
// ----------------------------
@loader-size: 32px;
@loader-circle-width: 3px;
@loader-circle-style: solid;
@loader-circle-color: @color-gray-light;
@loader-spin-width: 3px;
@loader-spin-style: solid;
@loader-spin-color: @color-primary;
@loader-radius: @border-radius-circle;
@loader-duration: 0.6s;
@loader-mask-fill: transparent;

// Avatar
// ----------------------------
@avatar-fill: @color-gray-light;
@avatar-normal-border-radius: 2px;
@avatar-normal-size: 32px;

@avatar-small-border-radius: 2px;
@avatar-small-size: 24px;

@avatar-large-border-radius: 4px;
@avatar-large-size: 48px;

// Dialog
// ----------------------------
@dialog-fill: @color-white-base;
@dialog-padding: 16px;
@dialog-border-radius: @border-radius;
@dialog-box-shadow: @box-shadow;
@dialog-divider-border: @border;

@dialog-normal-width: 480px;
@dialog-small-width: 380px;
@dialog-large-width: 580px;

// Tree
// ----------------------------
@tree-line-height: 32px;
@tree-color: @font-color-light;
@tree-color-hover: @color-primary;
@tree-fill: @color-white-base;
@tree-fill-active: lighten(@color-gray-lighter, 3%);
@tree-border-radius: 0;

// Box
// ----------------------------
@box-fill: @color-white-base;
@box-box-shadow: @box-shadow-light;
@box-border-radius: @border-radius-small;

// Calendar
// ----------------------------
@calendar-padding: 10px;
@calendar-item-size: 32px;
@calendar-item-border-radius: @border-radius-small;
@calendar-item-fill: @color-white-base;
@calendar-item-fill-hover: @color-gray-lighter;
@calendar-item-color-current: @color-primary;
@calendar-item-fill-active: @color-primary;

// Tag
// ----------------------------
@tag-color: @color-white-base;
@tag-border-radius: @border-radius;
@tag-border-radius-rounded: 999px;

@tag-gray-fill: @color-gray;
@tag-primary-fill: @color-primary;
@tag-success-fill: @color-success;
@tag-warning-fill: @color-warning;
@tag-danger-fill: @color-danger;

@tag-small-padding-v: 4px;
@tag-small-padding-h: 8px;
@tag-small-font-size: @font-size-small;

@tag-normal-padding-v: 4px;
@tag-normal-padding-h: 8px;
@tag-normal-font-size: @font-size;

@tag-large-padding-v: 6px;
@tag-large-padding-h: 12px;
@tag-large-font-size: @font-size-large;

// Notice
// ----------------------------
@notice-box-shadow: @box-shadow;
@notice-border-radius: @border-radius;
@notice-fill: @color-white-base;
@notice-content-color: @font-color-light;
@notice-height: 36px;

@notice-success-color: @color-success;
@notice-warning-color: @color-warning;
@notice-error-color: @color-danger;
@notice-primary-color: @color-primary;

// List
// ----------------------------
@list-fill: @color-white-base;
@list-title-height: 36px;
@list-title-color: @font-color-lighter;
@list-title-font-size: 0.8em;
@list-title-padding: 0 8px;

@list-item-height: 36px;
@list-item-color: @font-color-light;
@list-item-color-hover: @color-primary;
@list-item-fill-hover: @color-white-base;
@list-item-font-size: 1em;
@list-item-padding: 0 8px;
@list-item-color-active: @color-primary;
@list-item-fill-active: lighten(@color-gray-lighter, 3%);

// Pagination
// ----------------------------
@pagination-size: 32px;
@pagination-border-radius: @border-radius;
@pagination-color: @font-color-light;
@pagination-color-active: @color-white-base;
@pagination-color-disabled: @font-color-lighter;
@pagination-fill: @color-white-base;
@pagination-fill-hover: @color-gray-lighter;
@pagination-fill-active: @color-primary;

// Tooltip
// ----------------------------
@tooltip-font-size: 12px;
@tooltip-padding: 8px 10px;
@tooltip-arrow-size: 4px;
@tooltip-border-radius: 2px;

@tooltip-dark-fill: #333;
@tooltip-dark-color: @color-white-base;
@tooltip-dark-box-shadow: none;

@tooltip-light-fill: @color-white-base;
@tooltip-light-color: @font-color-light;
@tooltip-light-box-shadow: @box-shadow;

// Grid (Row, Column)
// ----------------------------
@grid-max-columns: 24;

// Badge
// ----------------------------
@badge-size: 20px;
@badge-dot-size: 8px;

@badge-fill-primary: @color-primary;
@badge-fill-success: @color-success;
@badge-fill-warning: @color-warning;
@badge-fill-danger: @color-danger;
@badge-fill-gray: @color-gray;

// Container
// ----------------------------
@container-sm-width: 723px;
@container-md-width: 933px;
@container-lg-width: 1127px;

// Divider
@divider-border: @border;

// Popover
@popover-box-shadow: @box-shadow-large;
@popover-border-radius: @border-radius-small;
@popover-fill: @color-white-base;
@popover-header-boder: @border;
@popover-arrow-size: 6px;
@popover-padding: 8px;

// Menu
@menu-line-height: 24px;
@menu-color: @font-color-light;
@menu-title-padding: 8px 12px;
@menu-item-padding: 8px 12px;
@menu-item-fill: @color-white-base;
@menu-item-fill-hover: @color-gray-lighter;
@menu-item-fill-active: @color-gray-light;

@menu-border-radius: @border-radius;
@menu-border: @border;
