@import "../../styles/import";

.Tree {
  color: @tree-color;

  &__node {
    &.selected > .Tree__nodeHead {
      background: @tree-fill-active;
    }
  }

  &__nodeHead {
    line-height: @tree-line-height;
    cursor: pointer;
    background: @tree-fill;
    white-space: nowrap;
    border-radius: @tree-border-radius;

    &:hover {
      color: @tree-color-hover;
    }
  }

  &__nodeIcon {
    display: inline-block;
    width: @tree-line-height;
    text-align: center;
    opacity: 0.6;

    &:hover {
      opacity: 0.8;
    }
  }
}
